# Leap Year with Functions

In [1]:
year = int(input('Enter Year:'))
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print('Leap Year.')
        else:
            print("Not Leap Year.")
    else:
        print('Leap Year.')
else:
    print('Not leap year.')

Enter Year: 2020

Leap Year.

In [25]:
def Leap_Year(year=2023):
    """Returns whether the year
    is leap year or not.
    """
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return ('Leap Year.')
            else:
                return ("Not Leap Year.")
        else:
            return ('Leap Year.')
    else:
        return ('Not leap year.')

In [26]:
Leap_Year()

'Not leap year.'

In [32]:
import leap

In [33]:
leap.Leap_Year(2026)

'Not leap year.'

# Gross Pay with Functions

In [1]:
def check_for_float(input):
    try:
        val = float(input)
        return val
    except:
        print('Error: please enter a numeric input')

In [6]:
def gross_pay(hour=hour,rate=rate,threshold=threshold):
    if hour < threshold:
        pay = round(hour*rate,2)
    else:
        overtime = hour - threshold
        pay = (rate * threshold) + (1.5 * rate * overtime)
    return (f'Pay: $ {pay}')

In [9]:
hour = input("Enter Hours:")
hour = check_for_float(hour)

rate = input("Enter rate:")
rate = check_for_float(rate)

threshold = input("Enter threshold:")
threshold = check_for_float(threshold)

gross_pay()

Enter Hours: five

Error: please enter a numeric input

Enter rate: five

Error: please enter a numeric input

Enter threshold: five

Error: please enter a numeric input

'Pay: $ 2850.0'

In [13]:
gross_pay()

'Pay: $ 2850.0'

# Cold, Warm and Hot

In [1]:
def check_temp(temp):
    if temp > 28:
        return 'Hot'
    elif temp >=18 and temp <=28:
        return 'Warm'
    else:
        return 'Cold'

In [2]:
check_temp(18)

'Warm'

# Maximum of Three Numbers

In [12]:
def max_of_two(n1,n2):
    if n1 > n2:
        return n1
    return n2
    
def max_of_three(n1,n2,n3):
    max_two = max_of_two(n1,n2)
    max_of_three = max_of_two(max_two,n3)
    return max_of_three

In [13]:
max_of_three(5,6,7)

7